<% layout('/layouts/boilerplate') %>
<div class="row mt-3">
    <h1 class="col-6 offset-3">Login For WonderLust</h1>
    <div class="col-6 offset-3">
        <form action="/login" method="POST" class="needs-validation" novalidate>
            <div class="mb-3">
                <label for="username" class="form-label">User Name</label>
                <input required name="username" type="text" class="form-control">
            </div>
            <div class="mb-3">
                <label for="passord" class="form-label">Passord</label>
                <input required name="password" type="password" class="form-control">
            </div>
          <button class="btn btn-success">Login</button>
        </form>
    </div>
</div>